* {
    box-sizing: border-box;
}

body {
    background-color: #EAE0DA;
    font-family: "Trebuchet MS", Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
}

/* Headings - General */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #A86464;
}
h2:hover,
h3:hover,
h4:hover,
h5:hover,
h6:hover {
    text-decoration: underline;
}
.heading {
    font-family: "Brush Script MT", cursive;
    text-align: center;
}

/* Homepage (Menu of Recipes) */
.menu {
    justify-content: center;
    flex-direction: column;
}
.menu .heading {
    font-size: 3rem;
}
.menu__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.menu__slot {
    margin: 0 30px;
}
.menu__slot li {
    margin: 10px auto;
}
.menu__slot li a {
    padding: 5px;
}

/* Links */
a {
    border-radius: 5px;
    padding: 1px;
}
/* .menu__link {
    margin: 5px;
    padding: 5px;
} */
a:link {
    text-decoration: none;
    color: #A86464;
}
a:hover {
    background-color: #F4EFD3;
}
a:active {
    color: #81b69d;
}
a:visited {
    text-decoration: none;
    color: #88726c;
}
/* Link - Initial Image */
.initial__img {
    width: 350px;
    height: auto;
}
.initial__img__link:link .initial__img {
    border-radius: 50%;
    border: 2px solid #A86464;
}
.initial__img__link:hover {
    background-color: transparent;
}
.initial__img__link:hover .initial__img {
    border: 2px solid #F4EFD3;
}
.initial__img__link:active .initial__img {
    border: 2px solid #81b69d;
}
/* Link - Button Back */
.button-back {
    position: fixed;
    border-radius: 0;
    height: 100%;
    width: 90px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.5;
}
.button-back:hover {
    opacity: 1;
}

/* Recipe page */
.recipe {
    flex: 1;
    margin-left: 90px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
/* Recipe - Initial section (heading, image, credits) */
.recipe__initial {
    min-width: 350px;
    margin-right: 40px;
    text-align: center;
}
.initial__heading {
    font-family: "Brush Script MT", cursive;
    font-size: 3rem;
}
/* Recipe - Body section (recipe itself) */
.recipe__body {
    min-width: 350px;
    width: 45%;
    max-width: 700px;
    margin: 20px 40px 20px 0;
}
.recipe__body h2,
.recipe__body h3 {
    text-align: center;
}
.recipe__body li:hover,
.recipe__body p:hover {
    background-color: #F4EFD3;
    border-radius: 5px;
}

/* Spoilers */
details {
    border: 1px solid #A86464;
    border-radius: 5px;
}
summary {
    font-weight: bold;
    cursor: pointer;
    padding: 0.5em;
}
summary:hover {
    background-color: #F4EFD3;
    border-radius: 0.5em;
}
#ingredients {
    margin-bottom: 1em;
}
/* Spoilers - disclosed */
details[open] {
    padding: 0.5em;
}
details[open] summary {
    border-bottom: 1px solid #A86464;
    margin: -0.5em -0.5em 0;
}
details[open] summary:hover {
    border-radius: 0.5em 0.5em 0 0;
}
