* {
    box-sizing: border-box;
}

body {
    background-color: #EAE0DA;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

.heading {
    font-family: "Brush Script MT", cursive;
    font-size: 1.25rem;
    text-align: center;
}

.menu {
    text-align: center;
}
.menu__slot {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin: 0 30px;
}

a {
    display: inline-block;
    border-radius: 5px;
    padding: 1px;
}
.menu__link,
.button-back {
    padding: 5px;
}
a:link {
    text-decoration: none;
    color: #A86464;
}
a:visited {
    text-decoration: none;
    color: #88726c;
}
a:hover {
    background-color: #F4EFD3;
}
a:hover.image-link {
    background-color: transparent;
}
a:active {
    color: #81b69d;
}
  